---
import GalleryLayout from "../../../components/galleryLayout.astro";

---
<GalleryLayout title="Centenario del año 12">
    <p>

        En su permanente programación cultural la Fundación Literaria León Bienvenido Weffer y el Grupo Tiquiba han dictado charlas sobre La Hambruna del Año 1912, realizando encuentros con las comunidades de Santa Rita y Adícora para ampliar la visión que sobre este acontecimiento poseen los paraguaneros, haciendo un llamado a la reflexión y análisis de las circunstancias que desencadenaron tan lamentable suceso hace exactamente cien años.<br><br>
        La primera se realizó en conjunto con los consejos comunales El Carmen y Los Instantáneos II, y la segunda con el Centro de Formación e Innovación Socioproductivo de Ádicora, donde se dieron cita voceros comunales, gente del sector salud y de la iglesia.<br><br>
        La charla es dictada por el profesor de la ULA Isaac López, basándose en los trabajos de investigación de las antropólogas Aida Urquía y María Victoria Padilla, además de investigaciones propias. En el programa se hace un acercamiento serio a las variables que se manifestaron en esos años y que determinaron la sequía y la falta de alimentos que desencadenaron un número importante de muertes por hambre, así como la emigración de muchos de los habitantes hacia la sierra de Falcón y zonas aledañas. Aspecto que merece el mayor respeto en el trato del tema y nos sensibiliza ante el dolor y la tristeza de nuestra gente en ese momento.<br><br>
        Estas charlas formaron parte de las actividades planificadas por la Fundación Literaria con el apoyo del Centro Nacional del Libro y del Gabinete Ministerial de Cultura para conmemorar el centenario de lo que es uno de los acontecimientos más representativos de la memoria colectiva paraguanera.

    </p>

    <h2 class="text-center text-4xl p-8">Galería</h2>
    <div class="flex flex-wrap gap-3 pictures__box justify-center">
        <a data-fslightbox="lightbox" href="/galleryImages/Sobre el ano12/1.jpg"><img src="/galleryImages/Sobre el ano12/1.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Sobre el ano12/2.jpg"><img src="/galleryImages/Sobre el ano12/2.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Sobre el ano12/3.jpg"><img src="/galleryImages/Sobre el ano12/3.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Sobre el ano12/4.jpg"><img src="/galleryImages/Sobre el ano12/4.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Sobre el ano12/6.jpg"><img src="/galleryImages/Sobre el ano12/6.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Sobre el ano12/7.jpg"><img src="/galleryImages/Sobre el ano12/7.jpg" alt="foto-cronica-paraguana">
        </a>    
    </div>
</GalleryLayout>                

<style>
    .pictures__box a {
        display: flex;
        justify-content: center;
        width: 30%;
        border: 1px solid #812626;
    }

    .pictures__box a img{
        max-height: 200px;
        width: 100%;
    }
</style>



               