---
import GalleryLayout from "../../../components/galleryLayout.astro";
---
<GalleryLayout title="Charlas">
    <p>
        [Content]
    </p>

    <h2 class="text-center text-4xl p-8">Galería</h2>
    <div class="flex flex-wrap gap-3 pictures__box justify-center">
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Charla en Jadacaquiva/1.jpg"><img src="/galleryImages/Charlas/Charla en Jadacaquiva/1.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Charla en Jadacaquiva/2.jpg"><img src="/galleryImages/Charlas/Charla en Jadacaquiva/2.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Charla en Jadacaquiva/3.jpg"><img src="/galleryImages/Charlas/Charla en Jadacaquiva/3.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Charla en Jadacaquiva/4.jpg"><img src="/galleryImages/Charlas/Charla en Jadacaquiva/4.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Emilio Chirinos/1.jpg"><img src="/galleryImages/Charlas/Emilio Chirinos/1.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Emilio Chirinos/2.jpg"><img src="/galleryImages/Charlas/Emilio Chirinos/2.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Emilio Chirinos/3.jpg"><img src="/galleryImages/Charlas/Emilio Chirinos/3.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Emilio Chirinos/4.jpg"><img src="/galleryImages/Charlas/Emilio Chirinos/4.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Emilio Chirinos/5.jpg"><img src="/galleryImages/Charlas/Emilio Chirinos/5.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Emilio Chirinos/6.jpg"><img src="/galleryImages/Charlas/Emilio Chirinos/6.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Emilio Chirinos/7.jpg"><img src="/galleryImages/Charlas/Emilio Chirinos/7.jpg" alt="foto-charlas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Charlas/Emilio Chirinos/8.jpg"><img src="/galleryImages/Charlas/Emilio Chirinos/8.jpg" alt="foto-charlas">
        </a>
    </div>
</GalleryLayout>                

<style>
    .pictures__box a {
        display: flex;
        justify-content: center;
        width: 30%;
        border: 1px solid #812626;
    }

    .pictures__box a img{
        max-height: 200px;
        width: 100%;
    }
</style>



               
                    
