---
import GalleryLayout from "../../../components/galleryLayout.astro";
---
<GalleryLayout title="Encuentros de Jóvenes Liceístas">
    <p>
        La fundación Literaria León Bienvenido Weffer entre las iniciativas por estimular experiencias enriquecedoras en los estudiantes hacia la lectura se planteó sumarse al programa que llevaba adelante la Casa Nacional de la Letras Andrés Bello denominado “circuito liceístas de las letras”, de alli  se crea los “Encuentros de jóvenes Liceístas del Municipio Falcón”, con programaciones que abarcaron: conversatorios, talleres literarios para estudiantes y docentes, recitales de poesía, presentaciones teatrales, actividad musical, entre otras.<br>  
        Esta actividad fue desarrollada en sus cinco ediciones con el apoyo del Ministerio de Cultura a través de su Gabinete Regional, Igualmente del apoyo significativo del Poeta Benito Mieses quien fue figura principal de enlace y participación en las actividades programadas.<br>
        Entre los invitados a participar en los encuentros destacamos al escritor Gabriel Jimenez Eman, el poeta José Javier León, la escritora Ana Nuñez,  la escritora Maylen Sosa,  el director de teatro Victor Pelayo  y la compañía regional “IUTAGteatro”, el Grupo de tambores “Cumaquito” del liceo de Santa Ana, los poetas y talleristas Ennio Tucci y Jenifer Gugliota, El poeta Inti Clrak, el licenciado en Historia Camilo Moron, los licenciados Omacel Espinosa y Jesus Colina profesores de la UNEFM, la activadora cultural Mary Granadillo (<br> 
        Con mucho entusiamo y gran participación fueron recibidos por la comunidad estudiantil y docentes de los liceos de Adaure, Pueblo Nuevo, Moruy, Santa Rita, Adicora, San Jose, El Hato, Buena Vista, El Vínculo, Jadacaquiva y Baraived.<br> 
        Las experiencias de un acercamiento distinto al libro y la lectura fue gratificante para los estudiantes, lograndose la producción de ejercicios creadores plasmados en hojas libres en el taller “el tendedero de poemas” así como la edición del texto “         , y la participación de los estudiantes del Liceo “Santa Rita” Aniuska Refunjol y Andrés Riera en el encuentro Nacional del “Ciruito de Jóvenes Liceitas” celebrado en Mérida, y  la participación de Aniuska Refunjol en la publicación del texto “nuevas voces en la mirada del mañana” editado por la Casa Nacional de las Letras Andrés Bello.<br>

    </p><br>

    <h2 class="text-center text-4xl p-8">Galería</h2>
    <div class="flex flex-wrap gap-3 pictures__box justify-center">
        <a data-fslightbox="lightbox" href="/galleryImages/Encuentro-de-Jovenes-Liceistas/12.jpg"><img src="/galleryImages/Encuentro-de-Jovenes-Liceistas/12.jpg" alt="foto-encuentro-liceistas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Encuentro-de-Jovenes-Liceistas/3.jpg"><img src="/galleryImages/Encuentro-de-Jovenes-Liceistas/3.jpg" alt="foto-encuentro-liceistas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Encuentro-de-Jovenes-Liceistas/5.jpg"><img src="/galleryImages/Encuentro-de-Jovenes-Liceistas/5.jpg" alt="foto-encuentro-liceistas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Encuentro-de-Jovenes-Liceistas/6.jpg"><img src="/galleryImages/Encuentro-de-Jovenes-Liceistas/6.jpg" alt="foto-encuentro-liceistas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Encuentro-de-Jovenes-Liceistas/IV-Encuentro-de-Jovenes-Liceistas-del-Municipio-Falcon/1.JPG"><img src="/galleryImages/Encuentro-de-Jovenes-Liceistas/IV-Encuentro-de-Jovenes-Liceistas-del-Municipio-Falcon/1.JPG" alt="foto-encuentro-liceistas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Encuentro-de-Jovenes-Liceistas/IV-Encuentro-de-Jovenes-Liceistas-del-Municipio-Falcon/2.JPG"><img src="/galleryImages/Encuentro-de-Jovenes-Liceistas/IV-Encuentro-de-Jovenes-Liceistas-del-Municipio-Falcon/2.JPG" alt="foto-encuentro-liceistas">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Encuentro-de-Jovenes-Liceistas/IV-Encuentro-de-Jovenes-Liceistas-del-Municipio-Falcon/3.JPG"><img src="/galleryImages/Encuentro-de-Jovenes-Liceistas/IV-Encuentro-de-Jovenes-Liceistas-del-Municipio-Falcon/3.JPG" alt="foto-encuentro-liceistas">
        </a>
        <a data-fslightbox="lightbox" href="/public/galleryImages/Encuentro-de-Jovenes-Liceistas/IV-Encuentro-de-Jovenes-Liceistas-del-Municipio-Falcon/5.jpg"><img src="/public/galleryImages/Encuentro-de-Jovenes-Liceistas/IV-Encuentro-de-Jovenes-Liceistas-del-Municipio-Falcon/5.jpg" alt="foto-encuentro-liceistas">
        </a>
    </div>
</GalleryLayout>                

<style>
    .pictures__box a {
        display: flex;
        justify-content: center;
        width: 30%;
        border: 1px solid #812626;
    }

    .pictures__box a img{
        max-height: 200px;
        width: 100%;
    }
</style>



               
                    
