---
import GalleryLayout from "../../../components/galleryLayout.astro";
---
<GalleryLayout title="Exposiciones">
    <p>
        [Content]
    </p>

    <h2 class="text-center text-4xl p-8">Galería</h2>
    <div class="flex flex-wrap gap-3 pictures__box justify-center">
        <a data-fslightbox="lightbox" href="/galleryImages/Exposiciones/1.jpg"><img src="/galleryImages/Exposiciones/1.jpg" alt="foto-exposiciones">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Exposiciones/2.jpg"><img src="/galleryImages/Exposiciones/2.jpg" alt="foto-exposiciones">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Exposiciones/3.jpg"><img src="/galleryImages/Exposiciones/3.jpg" alt="foto-exposiciones">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Exposiciones/4.jpg"><img src="/galleryImages/Exposiciones/4.jpg" alt="foto-exposiciones">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Exposiciones/5.jpg"><img src="/galleryImages/Exposiciones/5.jpg" alt="foto-exposiciones">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Exposiciones/6.jpg"><img src="/galleryImages/Exposiciones/6.jpg" alt="foto-exposiciones">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Exposiciones/7.jpg"><img src="/galleryImages/Exposiciones/7.jpg" alt="foto-exposiciones">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Exposiciones/8.jpg"><img src="/galleryImages/Exposiciones/8.jpg" alt="foto-exposiciones">
        </a>
    </div>
</GalleryLayout>                

<style>
    .pictures__box a {
        display: flex;
        justify-content: center;
        width: 30%;
        border: 1px solid #812626;
    }

    .pictures__box a img{
        max-height: 200px;
        width: 100%;
    }
</style>



               
                    
