---
import GalleryLayout from "../../../components/galleryLayout.astro";

const images = await Astro.glob("/public/galleryImages/Ferias-del-Libro/*.jpg")
---
<GalleryLayout title="Ferias del Libro">
    <p>
        La Feria del Libro es una actividad que  auspicia la Fundación Literaria  “León Bienvenido Weffer” con el apoyo del Centro Nacional del Libro (CENAL) y otras instituciones y tiene como principal fin, brindar espacios a los pobladores de la Península de Paraguaná que les permita enriquecer su intelecto, tener acceso a libros a bajos costos, conocer nuevos autores y nuevas ediciones, participar en foros, talleres y conversatorios de  reflexión sobre variados temas a partir de los recursos literarios que ofrecen las diferentes editoriales, fundaciones y   ediciones  alternativas públicas y privadas del país.<br><br>Cuatro ediciones de esta feria se realizaron en los años 2006, 2007, 2008 y 2010. Teniendo como sede principal la población de Pueblo Nuevo tuvo como espacios alternativos a las poblaciones de Moruy, Santa Rita y El Vínculo del Municipio Falcón.
        Invitados especiales como el escritor y ensayista Antonio López Ortega, El escritor Armando José Sequera, el director ejecutivo de la Fundación Biblioteca Ayacucho Luis Edgar Páez; también participaron escritores regionales, periodistas, académicos, editores y especialistas relacionados al tema de la promoción del libro y las publicaciones.
    </p>

    <h2 class="text-center text-4xl p-8">Galería</h2>
    <div class="flex flex-wrap gap-3 pictures__box justify-center">
        {
            images.map(image => {
                return <a data-fslightbox="lightbox" href={image.default}><img src={image.default} alt="imagen-encuentro-liceistas"></a>
            })
        }
    </div>
</GalleryLayout>                

<style>
    .pictures__box a {
        display: flex;
        justify-content: center;
        width: 30%;
        border: 1px solid #812626;
    }

    .pictures__box a img{
        max-height: 200px;
        width: 100%;
    }
</style>

               
                    