---
import GalleryLayout from "../../../components/galleryLayout.astro";
---
<GalleryLayout title="Presentación de Calendarios">
    <p>
        Los Calendarios han sido para la fundación un medio que ha permitido estar en los espacios de muchos hogares paraguaneros honrando con un trabajo de edición y producción de mucho esfuerzo y dedicación diversos temas representativos de nuestra tierra. Sin duda alguna el que más ha quedado en la memoria colectiva es “Rostros de Paraguaná” año 2010; allí se muestran doce personajes significativos de estas tierras. “Un calendario para honrar la tradición de una tierra. Entre los personajes de Paraguaná que se tributan en este calendario figuran Antonio Padilla, cantor de la Divina Pastora de Baraived; Vicente Barreno, fabulador del cerro de Santa Ana; Olga Amaya, muñequera de Moruy; Perucho Vargas, pescador de Adícora; Benjamín Cordoba, decimista de Baracara; y Fausto Goitía, sobador y decimista de San Juan de El Vínculo, entre otros. Las fotografías del calendario pertenecen al poeta y editor tachirense José Gregorio Vásquez, consecuente apoyo del trabajo del Grupo Tiquiba desde hace algunos años, amigo puntual y solidario a quien tanto debe el trabajo editorial de las agrupaciones, y los textos seleccionados pertenecen a autores que han dejado su huella de tinta sobre la península como Luis Alberto Crespo, Alberto Hernández, Ramón Ordaz, Antonio López Ortega, Carlos González Batista, Alí Primera, Alí Brett Martínez, Guillermo De León Calles, Simón Petit, Juan de la Cruz Esteves, Andrés Castillo y Francisco José Iturriza”.<br><br>
        Las publicaciones de los calendarios realizados hasta ahora han sido posible gracias al apoyo del Centro Nacional del Libro CENAL; del Instituto de Cultura del Estado Falcón INCUDEF; de PDVmarina a través de su gerencia en Paraguaná 
    </p>

    <h2 class="text-center text-4xl p-8">Galería</h2>
    <div class="flex flex-wrap gap-3 pictures__box justify-center">
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/1.jpg"><img src="/galleryImages/Calendarios/1.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/2.jpg"><img src="/galleryImages/Calendarios/2.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/3.jpg"><img src="/galleryImages/Calendarios/3.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/4.jpg"><img src="/galleryImages/Calendarios/4.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/5.jpg"><img src="/galleryImages/Calendarios/5.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/6.jpg"><img src="/galleryImages/Calendarios/6.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/7.jpg"><img src="/galleryImages/Calendarios/7.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/8.jpg"><img src="/galleryImages/Calendarios/8.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/9.jpg"><img src="/galleryImages/Calendarios/9.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/10.jpg"><img src="/galleryImages/Calendarios/10.jpg" alt="presentacion-de-calendarios">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Calendarios/11.jpg"><img src="/galleryImages/Calendarios/11.jpg" alt="presentacion-de-calendarios">
        </a>
    </div>
</GalleryLayout>                

<style>
    .pictures__box a {
        display: flex;
        justify-content: center;
        width: 30%;
        border: 1px solid #812626;
    }

    .pictures__box a img{
        max-height: 200px;
        width: 100%;
    }
</style>
