---
import CARD from "../../components/galleryCard.astro";
import Layout from "../../components/Layout.astro";
---

<Layout customTitle="Galeria - LBW">
        <div class="text-5xl text-center p-8"><h2>Galería</h2></div>
        <div class="main__entries flex flex-wrap justify-center">
                <CARD cardLink="gallery/articles/centenario-ano-12" cardTitle="Centenario del año 12" cardDate="30-01-2023"></CARD>
                <CARD cardLink="gallery/articles/cronica-en-paraguana" cardTitle="Crónica en Paraguaná" cardDate="30-01-2023"></CARD>
                <CARD cardLink="gallery/articles/encuentro-jovenes-liceistas" cardTitle="Encuentro de Jóvenes Liceístas" cardDate="30-01-2023"></CARD>
                <CARD cardLink="gallery/articles/feria-del-libro" cardTitle="Ferias del libro" cardDate="30-01-2023"></CARD>
                <CARD cardLink="gallery/articles/festival-mundial-poesia" cardTitle="Participación en el Festival Mundial de la Poesía" cardDate="30-01-2023"></CARD>
                <CARD cardLink="gallery/articles/presentacion-de-calendarios" cardTitle="Presentación de Calendarios y Libros" cardDate="30-01-2023"></CARD>
                <CARD cardLink="gallery/articles/exposiciones-fundacion" cardTitle="Exposiciones" cardDate="30-01-2023"></CARD>
                <CARD cardLink="gallery/articles/festival-alvaro-de-rosson" cardTitle="Festival de teatro Álvaro de Rossón" cardDate="30-01-2023"></CARD>
                <CARD cardLink="gallery/articles/charlas-fundacion" cardTitle="Charlas" cardDate="30-01-2023"></CARD>
        </div>
</Layout>