---

---

<article class="py-6">
  <h3 class="text-2xl">Titulo</h3>
  <p class="mt-2">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut purus eget
    sapien egestas.
  </p>
  <a href="#" class="mt-4 text-blue-500">Leer más</a>
</article>
