---
import Entry from "@/components/landing/BlogEntry.astro";
---

<!-- Last Entries -->
<section class="pb-8">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-4xl font-bold">Últimas Galerias</h2>
      </div>
    </div>
    <div class="flex flex-col md:flex-row items-center flex-wrap gap-4 justify-around py-4">
      <Entry 
        author="Rafael"
        title="Como criar um blog com Astro"
        description="Aprenda a criar um blog com Astro, um novo framework para construção de sites estáticos."
        imageSrc="/blog-placeholder-about.jpg"
      />
      <Entry 
        author="Rafael"
        title="Como criar um blog com Astro"
        description="Aprenda a criar um blog com Astro, um novo framework para construção de sites estáticos."
        imageSrc="/blog-placeholder-about.jpg"
      />
      <Entry 
        author="Rafael"
        title="Como criar um blog com Astro"
        description="Aprenda a criar um blog com Astro, um novo framework para construção de sites estáticos."
        imageSrc="/blog-placeholder-about.jpg"
      />
      <div class="hidden md:block xl:hidden">
        <Entry 
          author="Rafael"
          title="Como criar um blog com Astro"
          description="Aprenda a criar um blog com Astro, um novo framework para construção de sites estáticos."
          imageSrc="/blog-placeholder-about.jpg"
        />
      </div>
    </div>
  </div>
</section>
