---
import GalleryLayout from "../../../components/galleryLayout.astro";
---
<GalleryLayout title="La Cronica en Paraguaná">

    <p>
        De crónicas y cronistas en Paraguaná se toma como referencia  los trabajos iniciados por los cronistas de indias; más de 500 años de tradición.<br><br> 
        Actualmente se habla de diversos géneros de crónica entre las que destaca una oficial que va signada por los textos publicados por el cronista nombrado por las autoridades de cada municipio en quien recae la responsabilidad de llevar adelante una amplia labor de registro, investigación, conservación y difusión, entre otras; de lo que acontece en el día a día en las localidades bajo su custodia.<br> <br> 
        Por otro lado están las escritas por los cronistas no oficiales destacando la-cronica periodística y literaria.<br>    

        La Fundación Literaria león Bienvenido Weffer tomando como referencia el texto: “Antología de crónica latinoamericana actual” de Dario Jaramillo Agudelo, editado por Alfaguara. El “libro reúne a los autores más notables y algunos de sus trabajos más atractivos, más asombrosos”. una edición muy completa que nos conduce a tomarla como consulta obligada para tener un panorama bien claro de lo que se escribe en este género,  ya que nos trae “el universo de los más destacados autores de la-cronica latinoamericana actual”.<br> <br> 

        Con el título “la-cronica en Paraguaná” se organizaron una serie de encuentros con los cronistas representativos de nuestra región, con miras a ser ampliado con autores de los diferentes matices que nos muestren una visión más amplia y actual del oficio.<br>  

        Entre los invitados hasta ahora han pasado: Guillermo de león Calles, Isaac López, Arcadio Gonzalez Acosta, 

    </p>

    <h2 class="text-center text-4xl p-8">Galería</h2>

    <div class="flex flex-wrap gap-4 pictures__box justify-center">
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/1.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/1.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/2.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/2.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/3.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/3.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/4.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/4.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/5.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/5.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/1.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/1.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/2.jpg" ><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/2.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/3.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/3.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/4.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Tito-Guerra/4.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/5.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/5.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/6.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/6.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/7.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/7.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/8.jpg"><img src="/galleryImages/La-Cronica/Actividad-Cronica-con-Guillermo/8.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Museo-antigedades/1.jpg"><img src="/galleryImages/La-Cronica/Museo-antigedades/1.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Museo-antigedades/2.jpg"><img src="/galleryImages/La-Cronica/Museo-antigedades/2.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Museo-antigedades/3.jpg"><img src="/galleryImages/La-Cronica/Museo-antigedades/3.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Museo-antigedades/4.jpg"><img src="/galleryImages/La-Cronica/Museo-antigedades/4.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Museo-antigedades/5.jpg"><img src="/galleryImages/La-Cronica/Museo-antigedades/5.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Museo-antigedades/6.jpg"><img src="/galleryImages/La-Cronica/Museo-antigedades/6.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Museo-antigedades/7.jpg"><img src="/galleryImages/La-Cronica/Museo-antigedades/7.jpg" alt="foto-cronica-paraguana">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/La-Cronica/Museo-antigedades/8.jpg"><img src="/galleryImages/La-Cronica/Museo-antigedades/8.jpg" alt="foto-cronica-paraguana">
        </a>
    </div>
</GalleryLayout>                

<style>
    .pictures__box a {
        display: flex;
        justify-content: center;
        width: 30%;
        border: 1px solid #812626;
    }

    .pictures__box a img{
        max-height: 200px;
        width: 100%;
    }
</style>
