---
import GalleryLayout from "../../../components/galleryLayout.astro";
---
<GalleryLayout title="Participación en el Festival Mundial de la Poesía">
    <p>
        La Fundación Literaria León Bienvenido Weffer tiene como objetivo la promoción del libro y la lectura para ello se promueven todas aquellas actividades que permita dejar en la población paraguanera la mayor cantidad de experiencias de acercamientos con escritores y poetas. En ese sentido nos sumamos en el apoyo a la organización de las sedes municipales del festival mundial de poesía en su V edición.<br><br>

        Este festival ha tenido entre sus objetivos a decir de sus directores la de invitar a “creadores nacionales y de diferentes países del mundo, quienes convocados por la poesía comparten con la comunidad venezolana en sus diferentes estados. Este Festival, se realiza en todo el territorio nacional y tiene la particularidad de que llega a numerosos municipios, no solamente a las capitales de los estados. Esto es una verdadera forma de sensibilizar a la comunidad ante el hecho literario, pues recitales, talleres y encuentros literarios salen de recintos cerrados para encontrarse con la diversidad que caracteriza nuestro país”<br><br>

        El Complejo Cultural Josefa Camejo del Municipio Falcón fue una vez más espacio de encuentro para la palabra y la poesía en las voces de los poetas internacionales Brigitta Jondostir de Islandia, Leopoldo Castilla de Argentina. Acompañados por los poetas Benito Mieses, Gilmer Contín, Carlos Alastre, Anthony Alvarado.<br><br> 

        También se dio cabida en nuestro municipio a la IV Feria internacional del libro y la lectura con la presencia del escritor Carlos Vallejo de Ecuador y de la poeta Ana María Palomares por Venezuela.<br><br>  

        La fundación Literaria logró captar la atención con el esfuerzo y entusiasmo puestos en estas actividades dando muestras de seriedad y disciplina en las oportunidades presentadas para captar recursos y actividades que beneficien a nuestro municipio y destaquen la tradición literaria que lo caracteriza.


    </p>

    <h2 class="text-center text-4xl p-8">Galería</h2>
    <div class="flex flex-wrap gap-3 pictures__box justify-center">
        <a data-fslightbox="lightbox" href="/galleryImages/Eventos-Internacionales/1.jpg"><img src="/galleryImages/Eventos-Internacionales/1.jpg" alt="foto-mundial-poesia">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Eventos-Internacionales/2.jpg"><img src="/galleryImages/Eventos-Internacionales/2.jpg" alt="foto-mundial-poesia">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Eventos-Internacionales/3.jpg"><img src="/galleryImages/Eventos-Internacionales/3.jpg" alt="foto-mundial-poesia">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Eventos-Internacionales/4.jpg"><img src="/galleryImages/Eventos-Internacionales/4.jpg" alt="foto-mundial-poesia">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Eventos-Internacionales/5.jpg"><img src="/galleryImages/Eventos-Internacionales/5.jpg" alt="foto-mundial-poesia">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Eventos-Internacionales/6.jpg"><img src="/galleryImages/Eventos-Internacionales/6.jpg" alt="foto-mundial-poesia">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Eventos-Internacionales/7.jpg"><img src="/galleryImages/Eventos-Internacionales/7.jpg" alt="foto-mundial-poesia">
        </a>
        <a data-fslightbox="lightbox" href="/galleryImages/Eventos-Internacionales/8.jpg"><img src="/galleryImages/Eventos-Internacionales/8.jpg" alt="foto-mundial-poesia">
        </a>
    </div>
</GalleryLayout>                

<style>
    .pictures__box a {
        display: flex;
        justify-content: center;
        width: 30%;
        border: 1px solid #812626;
    }

    .pictures__box a img{
        max-height: 200px;
        width: 100%;
    }
</style>

            