---
import { environment } from "@/environments/enviroment.develop";
import type { Author } from "interfaces/author";

const { title, authors, coverImage, slug } = Astro.props;
---

<figure class="book-cover hover:-translate-y-2 transition-transform">
  <img
    src={`${environment.imagesUrl}${coverImage}`}
    alt={title}
    class="book-image"
  />
  <figcaption class="book-details">
    <h2 class="book-title">{title}</h2>
    <p class="book-author pt-4">
      Por: {
        // @ts-ignore
        authors.data.length > 1
          ? authors.data.map((author: Author) => author.attributes.name).join(", ")
          : authors.data[0].attributes.name
      }
    </p>
  </figcaption>
</figure>

<style>
  .book-cover {
    width: 300px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
  }

  .book-image {
    width: 100%;
    height: auto;
  }

  .book-details {
    margin-top: 10px;
  }

  .book-title {
    font-size: 18px;
    font-weight: bold;
  }

  .book-author {
    font-size: 16px;
    color: #666;
  }
</style>
