---
const { image, title, description } = Astro.props;
---

<div
  class="border border-gray-200 rounded-lg overflow-hidden dark:border-gray-800"
>
  <a class="block" href="#">
    <img
      alt={image.alt}
      class="aspect-[4/3] object-cover w-full"
      height={300}
      src={image.src}
      width={400}
    />
    <div class="p-4">
      <h3 class="font-semibold text-lg leading-none">{title}</h3>
      <p class="text-sm text-gray-500 dark:text-gray-400">
        {description}
      </p>
    </div>
    <p class="text-sm hover:underline p-4 pt-0">
        Ver más
    </p>
  </a>
</div>
