---
import Header from "../../components/Header.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import GalleryEntry from "@/components/gallery/GalleryEntry.astro";
import fetchApi from "lib/strapi";
import type { Gallery } from "interfaces/gallery";

const galleries = await fetchApi<Gallery[]>({
  endpoint: "galleries",
  wrappedByKey: "data",
  query: {
    _sort: "date:desc",
  },
});
---

<PageLayout
  title="Historial Fundaleón"
  desciption="Historial de la Fundación Literaria León Bienvenido Weffer"
>
  <Header />
  <MobileHeader />
  <div class="pb-8 pt-20 lg:pt-14 space-y-4 container mx-auto">
    <div>
      <h1 class="text-4xl font-bold">Galería Fundaleón</h1>
      <p class="py-4 text-lg max-w-3xl">
        Bienvenido a la galería de Fundaleón. Aquí encontrarás una selección de
        imágenes de nuestros eventos y actividades a lo largo de los años.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {
        galleries.map((gallery) => (
          <GalleryEntry
            title={gallery.attributes.title}
            description={gallery.attributes.description}
            slug={gallery.attributes.slug}
            image={{
              src: gallery.attributes.cover.data.attributes.url,
              alt: gallery.attributes.cover.data.attributes.alternativeText,
            }}
          />
        ))
      }
    </div>
  </div>
</PageLayout>
