---
import CARD from "../../components/libraryCard.astro";
import Layout from "../../components/Layout.astro";
---

<Layout customTitle="Galeria - LBW">
        <div class="text-5xl text-center p-8"><h2>Colección Biblio-Hemerográfica</h2></div>
        <div class="flex flex-col flex-wrap items-start w-[70%]">
                <CARD cardLink="/src/pages/library/collections/" cardTitle='Colección Fundación' cardAuthor='"León Bienvenido Weffer"'></CARD>
                <CARD cardLink="/src/pages/library/collections/" cardTitle='Colección' cardAuthor='"Raúl López Lilo"'></CARD>
                <CARD cardLink="/src/pages/library/collections/" cardTitle='Colección' cardAuthor='"Molina - Toledo"'></CARD>
                <CARD cardLink="/src/pages/library/collections/" cardTitle='Colección' cardAuthor='"Leoncio López"'></CARD>
                <CARD cardLink="/src/pages/library/collections/" cardTitle='Colección' cardAuthor='"Olga Expósito"'></CARD>
                <CARD cardLink="/src/pages/library/collections/" cardTitle='Colección' cardAuthor='"Isaac López"'></CARD>
                <CARD cardLink="/src/pages/library/collections/" cardTitle='Colección' cardAuthor='"Beaujon Hidalgo"'></CARD>
        </div>
</Layout>