---
import HeaderLink from "./HeaderLink.astro";
import SuggestionItem from "./SuggestionItem.astro";
import fetchApi from "lib/strapi";
import type { Post } from "interfaces/post";
import type { Gallery } from "interfaces/gallery";

const posts = await fetchApi<Post[]>({
  endpoint: "posts",
  wrappedByKey: "data",
});

const galleries = await fetchApi<Gallery[]>({
  endpoint: "galleries",
  wrappedByKey: "data",
});

const data = [...posts, ...galleries];
---

<header class="items-start hidden lg:flex border-b w-full">
  <nav class="w-full flex gap-10 container">
    <div class="w-[100%] flex flex-col items-center justify-center">
      <div
        id="headerInputContainer"
        class="flex gap-4 items-center justify-between py-4 mr-10 w-full"
      >
        <h2
          id="logo"
          class="block !text-4xl pl-9 font-bold text-left justify-self-start"
        >
          Fundaleón
        </h2>
        <section class="flex">
          <div class="w-96 mr-10 relative">
            <label
              class="input input-md input-bordered flex items-center gap-2"
            >
              <input
                type="text"
                id="autoComplete"
                type="search"
                dir="ltr"
                spellcheck="false"
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                maxlength="2048"
                tabindex="1"
                class="grow"
                placeholder="Buscar en la página"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16 16"
                fill="currentColor"
                class="w-7 h-7 opacity-70"
                ><path
                  fill="evenodd"
                  d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
                  clip="evenodd"></path></svg
              >
            </label>
            <ul
              id="searchResults"
              style="display: none;"
              class="absolute top-14 left-0 w-96 bg-white border border-gray-200 rounded-md shadow-lg z-10 p-2 max-h-[500px] overflow-y-auto"
            >
              <!-- search results go here -->
              <!-- Test search results -->
              {
                data.map((heading) => (
                  <SuggestionItem
                    title={heading.attributes.title}
                    pubDate={heading.attributes.publishedAt}
                    slug={heading.attributes.slug}
                  />
                ))
              }
            </ul>
          </div>
          <div class="social-links md:mr-4 gap-2">
            <a href="https://twitter.com/astrodotbuild" target="_blank">
              <span class="sr-only">Sigue a Fundaleón en X</span>
              <svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
                ><path
                  fill="currentColor"
                  d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
                ></path></svg
              >
            </a>
            <a href="https://github.com/withastro/astro" target="_blank">
              <span class="sr-only">Sigue a Fundaleón en Facebook</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="36"
                height="36"
                viewBox="0 0 50 50"
              >
                <path
                  d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"
                ></path>
              </svg>
            </a>
          </div>
        </section>
      </div>
      <div class="internal-links flex flex-wrap w-full justify-around">
        <HeaderLink href="/">Inicio</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="#">Historial</HeaderLink>
        <HeaderLink href="/galeria">
          Galería
        </HeaderLink>
        <HeaderLink href="/biblioteca">Biblioteca</HeaderLink>
        <HeaderLink href="#">Sobre Nosotros</HeaderLink>
        <HeaderLink href="/contacto">Contacto</HeaderLink>
      </div>
    </div>
  </nav>
</header>

<script>
  // vanilla js automcomplete with no libraries
  const autoCompleteInput = document.getElementById("autoComplete");
  const allHeadings = Array.from(document.querySelectorAll(".suggestedResult"));
  const searchResults = document.getElementById("searchResults") as HTMLElement;

  autoCompleteInput?.addEventListener("input", (e: any) => {
    const query = e.target.value.toLowerCase();
    const results = allHeadings.filter((heading) => {
      return heading.textContent?.toLowerCase().includes(query);
    });

    searchResults.innerHTML = "";

    // If results are 0 show a message
    if (results.length === 0) {
      searchResults.style.display = "block";
      const li = document.createElement("li");
      li.innerHTML = `<a href="#" class="font-bold text-lg p-2">No se encontraron resultados</a>`;
      searchResults?.appendChild(li);
    }

    results.forEach((result) => {
      searchResults.style.display = "block";
      const li = document.createElement("li");
      li.innerHTML = `<a href="#" class="font-bold text-lg p-2">${result.innerHTML}</a>`;
      searchResults?.appendChild(li);
    });
  });

  // close search results when clicking outside
  document.addEventListener("click", (e) => {
    if (e.target !== autoCompleteInput) {
      searchResults.innerHTML = "";
      searchResults.style.display = "none";
    }
  });

  // close search results when pressing escape
  document.addEventListener("keydown", (e) => {
    if (e.key === "Escape") {
      searchResults.innerHTML = "";
      searchResults.style.display = "none";
    }
  });

  // close search results when clicking on a result
  searchResults.addEventListener("click", (e) => {
    searchResults.innerHTML = "";
    searchResults.style.display = "none";
  });
</script>

<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  nav a {
    padding: 0.5em 0.5em;
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }
  .social-links,
  .social-links a {
    display: flex;
  }

  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
