---
interface Props{
    cardTitle: string;
    cardLink: string;
    cardAuthor: string;
}

const {cardTitle = 'Titulo por defecto', cardLink = 'http://localhost:3000', cardAuthor = ""}= Astro.props;
---

<div class="blog-card flex flex-col">
    <div class="flex flex-col justify-center">
        <h2 class="card-title font-serif font-normal text-[1.7rem]">{cardTitle}</h2>
        <h2 class="card-text font-serif font-normal text-[1.7rem]">{cardAuthor}</h2>
    </div>
    <a href={cardLink} class="read-more">Ver más</a>
</div>

<style>

    .blog-card{
        width: 60%;
        height: 250px;
        margin:15px auto;
        background:#fff;
        border:1px solid #812626;
        text-align:center;
        align-items: center;
        justify-content: center;
        padding: 15px;
    }

    .blog-card a{
        text-decoration: none;
    }

    .blog-card:hover, .blog-card:active{
        transition: (0.5s);
        box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
        -webkit-transition: (0.5s);
        -moz-transition: (0.5s);
        -ms-transition: (0.5s);
        -o-transition: (0.5s);
    }

    .card-text{
        padding: 0px 15px;
        padding-bottom: 1em;
        line-height:30px;
        /* font-size: 25px; */
    }

    .card-title{
        padding: 0 15px;
        padding-top: 15px;
        line-height:30px;
        /* font-size: 25px; */
    }

    .read-more{
        width:auto;
        margin: 0 auto;
        text-align:center;
        text-transform:uppercase;
        background:#812626;
        color:#fff;
        padding:15px;
    }

    .read-more:hover{
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
        background: darken(#CB6074,20%);
    }

</style>