---
import CARD from "../../components/galleryCard.astro";
import Layout from "../../components/Layout.astro";
---

<Layout customTitle="Galeria - LBW">
        <div class="text-5xl text-center p-8"><h2>Galería</h2></div>
        <div class="main__entries flex flex-wrap justify-center">
                <CARD cardLink="gallery/articles/feria-del-libro" cardTitle="Ferias del libro"></CARD>
                <CARD cardLink="gallery/articles/presentacion-de-calendarios" cardTitle="Presentaciones de Libros y Calendarios"></CARD>
                <CARD cardLink="gallery/articles/encuentro-jovenes-liceistas" cardTitle="Encuentro de Jóvenes Liceístas"></CARD>
                <CARD cardLink="gallery/articles/centenario-ano-12" cardTitle="Centenario del año 12"></CARD>
                <CARD cardLink="gallery/articles/cronica-en-paraguana" cardTitle="Crónica en Paraguaná"></CARD>
                <CARD cardLink="gallery/articles/festival-mundial-poesia" cardTitle="Participación en el Festival Mundial de la Poesía"></CARD>
                <CARD cardLink="gallery/articles/exposiciones-fundacion" cardTitle="Exposiciones"></CARD>
                <CARD cardLink="gallery/articles/festival-alvaro-de-rosson" cardTitle="Festival de teatro Álvaro de Rossón"></CARD>
                <CARD cardLink="gallery/articles/charlas-fundacion" cardTitle="Charlas"></CARD>
        </div>
</Layout>