---
import Header from "../../components/Header.astro";
import MobileHeader from "@/components/MobileHeader.astro";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout 
	title="Historial Fundación Literaria León Bienvenido Weffer"
	desciption="Historial de la Fundación Literaria León Bienvenido Weffer"
>
  <Header />
  <MobileHeader />
  <main>
	<section class="container mx-auto px-4 py-8">
	  <h1 class="text-4xl font-bold text-center mb-8">Historial Fundación Literaria León Bienvenido Weffer</h1>
	  <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
		<!--
		@foreach (getCollection("historial", { order: "desc" }) as $entry)
		  <li class="border border-gray-200 p-4 rounded-lg">
			<h2 class="text-xl font-bold">{{ $entry.title }}</h2>
			<p class="text-gray-600 text-sm mb-2">
			  <FormattedDate date="{{ $entry.date }}" />
			</p>
			<p>{{ $entry.description }}</p>
		  </li>
		@endforeach
		-->
	  </ul>
	</section>
  </main>
</PageLayout>
